{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">
    function startLesson() {
        window.location.href = '/learn/1';
    }
</script>

<section class="jumbotron text-center">
    <div class="container">
        <h1>Explore Hotpot Styles</h1>
        <p>Learn to identify various global hotpot styles and quiz your knowledge!</p>
        <button onclick="startLesson()" class="btn btn-primary" title="Learn about different types of hotpots from around the world!">Start Lesson</button>
    </div>
</section>

<div class="container" id=""></div>


{% endblock %}