{% extends "layout.html" %}

{% block content %}

<script type="text/javascript">
    let lesson = {{ lesson| tojson}};
    $(document).ready(function () {
        $("#next_button").click(function () {
            if ("{{lesson.next_lesson}}" == "end") {
                window.location.href = "/start_quiz";
            } else {
                window.location.href = "/learn/{{lesson.next_lesson}}";
            }
        });
    });

</script>

{{lesson.title}}<br>
<br>
{{lesson.text}}<br>
<button id="next_button"> Next </button>

{% endblock %}

