{% extends "layout.html" %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function () {
        // Calculate and display timer only on the first quiz question
        if ("{{ question.quiz_id }}" == "1") { 
            const startTime = sessionStorage.getItem('startTime');
            if (startTime) {
                const endTime = Date.now();
                const elapsed = endTime - parseInt(startTime);
                const seconds = Math.floor((elapsed / 1000) % 60);
                const minutes = Math.floor((elapsed / 1000 / 60) % 60);
                $('#timerDisplay').text(`Total Learning Time: ${minutes} minutes, ${seconds} seconds`);
                
                // Optionally clear the timer here if no further need
                sessionStorage.removeItem('startTime');
            }
        } else {
            $('#timerDisplay').hide();  // Hide the timer display for subsequent questions
        
        }

        // Navigation logic
        $("#next_button").click(function () {
            if ("{{question.next_question}}" == "end") {
                window.location.href = "/";
            } else {
                window.location.href = "/quiz/{{question.next_question}}";
            }
        });
    });
</script>

<div class="container mt-4">
    <h1>{{ question.question }}</h1>

    <!-- Timer display -->
    <div id="timerDisplay" class="alert alert-success"></div>

    {% if feedback %}
        <div class="alert alert-info">{{ feedback }}</div>
    {% endif %}

    <form action="/quiz/{{ question.quiz_id }}" method="post">
        <fieldset {% if form_disabled %}disabled{% endif %}>
            <div>
                {% for answer in question.answers %}
                    <input type="radio" name="answer" value="{{ answer }}" id="{{ answer }}">
                    <label for="{{ answer }}">{{ answer }}</label><br>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary" {% if form_disabled %}disabled{% endif %}>Submit</button>
        </fieldset>
    </form>

    {% if show_next %}
        <button onclick="window.location.href='{{ url_for('quiz', quiz_id=question.next_question) if question.next_question != 'end' else url_for('results') }}'" class="btn btn-primary">Next</button>
    {% endif %}
    <button onclick="window.location.href='/'" class="btn btn-secondary">Back to Main</button>
</div>

{% endblock %}
