{% extends "layout.html" %}

{% block content %}

<script type="text/javascript">
    let question = {{ question | tojson }};
    $(document).ready(function () {
        $("#next_button").click(function () {
            if ("{{question.next_question}}" == "end") {
                window.location.href = "/";
            } else {
                window.location.href = "/quiz/{{question.next_question}}";
            }
        });
    });
</script>

<div class="container mt-4">
    <h1>{{ question.question }}</h1>
    <div>
        {% for answer in question.answers %}
        <button class="btn btn-info my-2">{{ answer }}</button>
        {% endfor %}
    </div>
    <button id="next_button" class="btn btn-primary">Next</button>
    <button onclick="window.location.href='/'" class="btn btn-secondary">Back to Main</button>
</div>

{% endblock %}
