{% extends "layout.html" %}

{% block content %}

<script type="text/javascript">
    // let question = {{ question | tojson }};
    $(document).ready(function () {
        $("#next_button").click(function () {
            if ("{{question.next_question}}" == "end") {
                window.location.href = "/";
            } else {
                window.location.href = "/quiz/{{question.next_question}}";
            }
        });
    });
</script>


<div class="container mt-4">
    <h1>Q{{question.quiz_id}}. {{ question.question }}</h1>

    {% if feedback %}
        <div class="alert alert-info">{{ feedback }}</div>
    {% endif %}

    <form action="/quiz/{{ question.quiz_id }}" method="post">
        <fieldset {% if form_disabled %}disabled{% endif %}>
            <div>
                {% for answer in question.answers %}
                    <input type="radio" name="answer" value="{{ answer }}" id="{{ answer }}">
                    <label for="{{ answer }}">{{ answer }}</label><br>
                    <!-- {% if answer == question.correct_answer %}
                        <span class="badge bg-success">Correct</span>
                    {% endif %} -->
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary custom-button" {% if form_disabled %}disabled{% endif %}>Submit</button>
        </fieldset>
    </form>

    {% if show_next %}
        <button onclick="window.location.href=`{{ url_for('quiz', quiz_id=question.next_question) if question.next_question != 'end' else url_for('quiz_results') }}`" class="btn btn-primary custom-button">Next</button>
    {% endif %}
    <!-- ask when the user clicks the button, the button that redirect the user back to the main page -->
    <!-- <button onclick="window.location.href='/'" class="btn btn-secondary">Back to Main</button> -->
    <!-- <button onclick="window.location.href='/'" class="btn btn-secondary">Back</button> -->

</div>



{% endblock %}
