{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/learn.css')}}">

<script type="text/javascript">
    $(document).ready(function () {
        $("#right_button").click(function () {
            if ("{{lesson.next_lesson}}" == "end") {
                window.location.href = "/start_quiz";
            } else {
                window.location.href = "/learn/{{lesson.next_lesson}}";
            }
        });


        $("#left_button").click(function () {
            if ("{{lesson.lesson_id}}" == "1") {
                window.location.href = "/";
            } else {
                window.location.href = "/learn/" + (parseInt("{{lesson.lesson_id}}")-1);
            }
        });

        $('.clickable-item').click(function() {
            var category = $(this).data('category');
            var newDescription = $(this).data('description');
            var newImageSrc = "";
            if (category == "dipping sauce") {
                newImageSrc = "{{lesson.dipping_sauce_image}}";
            } else {
                newImageSrc = "{{lesson.image}}";
            }
            
            $('#interactive-image').attr('src', newImageSrc);
            category = category.charAt(0).toUpperCase() + category.slice(1);
            newDescription = newDescription.charAt(0).toUpperCase() + newDescription.slice(1);
            $('#image-description').html("<strong>" + category + "</strong>" + ": " + newDescription + ".");
        });

        $('.clickable-item').click(function() {
            $('.clickable-item').removeClass('active-state');
            $(this).addClass('active-state');
        });

    });

</script>


<div class="jumbotron">
    <div class="lesson-title-div row">
        <span class="lesson-title col-12 text-center">{{lesson.title}}</span>
    </div>
    <div class="lesson-info-div row">
        <div class="lesson-about-category-div col-6">
            {% for category, description in lesson.about.items() %}
            <div class="clickable-item" data-category="{{category}}" data-description="{{description}}">{{category|capitalize}}</div>
            {% endfor %}
        </div>
        <div class="lesson-about-description-div col-6">
            <img id="interactive-image" src="{{lesson.image}}" alt="Lesson image" class="img-fluid lesson-image col-12">
            <div id="image-description" class="lesson-about-text text-center col-12">{{lesson.text}}</div>
        </div>
    </div>
    <div class="lesson-buttons-div">
        <div class="lesson-num-div">{{lesson.lesson_id}} / {{total_lessons}}</div>
        <div class="navigation-buttons">
        <button id="left_button" class="btn custom-button" alt="Left button"><i class="bi bi-chevron-left"></i></button>
            <button id="right_button" class="btn custom-button" alt="Right button"><i class="bi bi-chevron-right"></i></button>
        </div>
    </div>
</div>    


{% endblock %}

