{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/learn.css')}}">

<script type="text/javascript">
    // let lesson = {{ lesson| tojson}};
    $(document).ready(function () {
        $("#right_button").click(function () {
            if ("{{lesson.next_lesson}}" == "end") {
                window.location.href = "/start_quiz";
            } else {
                window.location.href = "/learn/{{lesson.next_lesson}}";
            }
        });

        $("#left_button").click(function () {
            if ("{{lesson.lesson_id}}" == "1") {
                window.location.href = "/";
            } else {
                window.location.href = "/learn/" + (parseInt("{{lesson.lesson_id}}")-1);
            }
        });

    });

</script>


<div class="jumbotron">
    <div class="lesson-name-container row">
        <span class="lesson-title col-12">{{lesson.lesson_id}}. {{lesson.title}}</span>
        <span class="lesson-text col-12">{{lesson.text}}</span>
    </div>
    <div class="lesson-image-container">
        <img src="{{lesson.image}}" alt="{{lesson.title}}" width="300" height="300"><br>
    </div>
    <div class="lesson-about-container">
        <div class="row">
            {% for element, value in lesson.about.items() %}
            <div class="col-md-6">
                <strong>{{ element|capitalize }}:</strong> {{ value }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="lesson-buttons-container">
        <button id="left_button" class="btn custom-button" alt="Left button"><i class="bi bi-arrow-left"></i></button>
        <button id="right_button" class="btn custom-button" alt="Right button"><i class="bi bi-arrow-right"></i></button>
    </div>

</div>    


{% endblock %}

