{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='styles/quiz.css')}}">

<script type="text/javascript">
    $(document).ready(function () {
        $("#submit_answer").click(function() {
            $.ajax({
                type: "POST",
                url: "/quiz/{{ question.quiz_id }}/check_answer",
                data: {
                    answer: $('input[name="answer"]:checked').val(),
                },
                success: function(response) {
                    if (response.correct) {
                        $("#feedback").html("<div class='alert alert-success'>Correct!</div>");
                    } else {
                        $("#feedback").html("<div class='alert alert-primary'>" + response.message + "</div>");
                        if (response.feedback) {
                            $("#feedback").append("<div class='alert alert-info'>Hint: " + response.feedback + "</div>");
                        }
                    }
                }
            });
        });

        $("#right_button").click(function () {
            if ("{{ question.next_question }}" == "end") {
                window.location.href = "/quiz_results";
            } else {
                window.location.href = "/quiz/" + (parseInt("{{quiz_id}}")+1);
            }
        });

        $("#left_button").click(function () {
            if ("{{question.prev_question}}" == "start") {
                sessionStorage.removeItem('startTime');
                window.location.href = "/start_quiz";
            } else {
                window.location.href = "/quiz/" + (parseInt("{{quiz_id}}")-1);
            }
        });
    });
</script>

<div class="mt-3 quiz-div">

    <div class="question-div">
        <h1>Q{{ quiz_id }}. {{ question.question }}</h1>
        <p>Choose the correct answer:</p>
    </div>
    
    <div class="feedback-div" id="feedback" alt="feedback"></div>

    <div class="answers-container">
        {% if quiz_id|int >= 8 %}
            {% for answer, text in question.answers.items() %}
            <div class="answer-group">
                <input type="radio" name="answer" value="{{ answer }}" id="{{ answer }}" alt="Select {{answer}}" class="answer-radio">
                <label for="{{ answer }}" class="answer-label darkgray_color" alt="{{answer|capitalize}} label">
                    {{ answer }}. {{ text }}
                </label>
            </div>
            {% endfor %}
        {% else %}
            {% for answer, image in question.answers.items() %}
            <div class="answer-group">
                <input type="radio" name="answer" value="{{ answer }}" id="{{ answer }}" alt="Select {{answer}}" class="answer-radio">
                <label for="{{ answer }}" class="answer-label darkgray_color" alt="{{answer|capitalize}} label">
                    {{ answer }}. <img src="{{ image }}" alt="Image for option {{ answer }}" class="answer-img">
                </label>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="quiz-nav-buttons-div">
        <div class="submit-button-div">
            <button id="submit_answer" class="btn custom-button" alt="Submit button">Submit</button>
        </div>
        <div class="quiz-num-div">{{quiz_id}} / {{total_questions}}</div>
        <div class="navigation-buttons">
            <button id="left_button" class="btn custom-button" alt="Left button"><i class="bi bi-chevron-left"></i></button>
            <button id="right_button" class="btn custom-button" alt="Right button"><i class="bi bi-chevron-right"></i></button>
        </div>
    </div>

</div>

{% endblock %}
