{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/start_quiz.css')}}">

<script type="text/javascript" src="{{url_for('static', filename='scripts/start_quiz.js')}}"></script>

<div class="jumbotron text-center">
    <div class="mt-3">
        <h1 class="jumbotron-heading darkbrown_color" alt="Start quiz header">Start Your Quiz</h1>
        <p class="lead darkgray_color" alt="Start quiz description">Test your knowledge by starting the quiz now!</p>
    </div>
    <div class="img-button-div darkbrown_bg">
        <img src="{{ url_for('static', filename='images/start_quiz.png') }}" class="center-image" alt="Start quiz image">
        <a href="/quiz/1" class="btn lightgray_color" onclick="startQuiz()" alt="Start quiz button">Quiz Time!</a>
    </div>
    <div id="timerDisplay" class="mt-3"></div>
</div>

{% endblock %}