{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">

</script>

<link rel="stylesheet" href="{{url_for('static', filename='styles/homepage.css')}}">

<div class="container homepage">
    <div class="title-desc-group row">
        <h1 class="title darkbrown_color col-12" alt="Homepage title">Time to explore the Hotpot World!</h1>
        <p class="desc lead darkgray_color col-12" alt="Homepage description">Boost your knowledge of different kinds of Hotpot</p>
    </div>
    <div class="image-button-group row">
        <img src="{{ url_for('static', filename='images/hotpot_image.png') }}" class="center-image col-12" alt="hotpot_image">
        <a href="/learn/1" class="btn custom-button col-12" onclick="sessionStorage.setItem('startTime', Date.now());" alt="Start Learning button">Let's Get Started</a>
    </div>
</div>

{% endblock %}
