{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/start_quiz.css')}}">

<script type="text/javascript" src="{{url_for('static', filename='scripts/start_quiz.js')}}"></script>

<script type="text/javascript">
    function startQuiz() {
        if (sessionStorage.getItem('startTime')) {
            sessionStorage.removeItem('startTime');
            $('#timerDisplay').hide();
        }
    }

    $(document).ready(function () {
        const startTime = sessionStorage.getItem('startTime');
        if (startTime) {
            const endTime = Date.now();
            const elapsed = endTime - parseInt(startTime);
            const seconds = Math.floor((elapsed / 1000) % 60);
            const minutes = Math.floor((elapsed / 1000 / 60) % 60);
            $('#timerDisplay').text(`Total Learning Time: ${minutes} minutes, ${seconds} seconds`);
            $('#timerDisplay').css('display', 'block');
            $('#timerDisplay').addClass('alert alert-success');
        } else {
            $('#timerDisplay').text('');
            $('#timerDisplay').hide();
        }
    });
</script>

<div class="start_quiz container">
    <div class="title-desc-group row">
        <h1 class="title darkbrown_color col-12" alt="Start quiz header">Start Your Quiz</h1>
        <p class="desc lead darkgray_color col-12" alt="Start quiz description">Test your knowledge by starting the quiz now!</p>
    </div>
    <div class="button-group darkbrown_bg">
        <img src="{{ url_for('static', filename='images/start_quiz.png') }}" class="center-image" alt="Start quiz image">
        <a href="/quiz/1" class="btn lightgray_color" onclick="startQuiz()" alt="Start quiz button">Quiz Time!</a>
    </div>
    <div id="timerDisplay" class="mt-3"></div>
</div>

{% endblock %}