

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 0;
}

.title-desc-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid rgba(72, 34, 31, 0.7);
    text-align: center;
    margin: 0 10%;
    padding: 1% 0;
}

.title {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.desc {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

/* image-button-group */
.image-button-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-image {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10%;
}

.custom-button {
    font-size: 1.9em;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10%;
}
