.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.title-with-lines {
    position: relative;
    display: inline-block; /* Keep the element width as per the content width */
    padding: 0 20px; /* Adds space between the text and the borders */
    margin: 0 auto; /* Adjust margin as needed */
    line-height: 1; /* Adjust line-height to control the vertical space */
}

.title-with-lines::before,
.title-with-lines::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 3px; /* Width of the border */
    height: 100%; /* Adjust height to control the length of the lines */
    background-color: rgb(67, 67, 67); /* Color of the border */
    transform: translateY(-50%);
}

.title-with-lines::before {
    left: 0;
    margin-left: -30px; /* Adjust to control space between the line and the text */
}

.title-with-lines::after {
    right: 0;
    margin-right: -30px; /* Adjust to control space between the line and the text */
}
