
/* lesson information */
.lesson-div {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* title and info */
.title-info-group {
  margin: 0;
}

.lesson-title-div {
  margin-right: 0;
  margin-left: 0;
  padding: 1% 0;
  text-align: center;
}

.lesson-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}


/* catgeory and description */
.lesson-info-div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: auto;
}

.lesson-about-category-div {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0vh 0vw;
  margin: 0;
}

.image-desecription-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding: 0vh 0vw;
}

.image-div {
  display: flex;
  justify-content: center;
  margin: 0;
}

.lesson-image {
  max-width: 100%;
  width: 50%;
  height: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.lesson-text {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 2vw;
  margin-bottom: 2vh;
}


/* clickable items */
.clickable-item {
  margin: 2vh 0;
  padding: 2%;
  background-color: rgb(255, 239, 208);
  border: 1px solid rgb(72, 34, 31);
  color: rgb(67, 67, 67);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  width: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transition: background-color 0.4s, color 0.3s, box-shadow 2.3s;
}

.clickable-item:hover {
  background-color: rgba(239, 239, 239, 0.6);
  color: rgb(67, 67, 67);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.clickable-item:active {
  background-color: rgb(72, 34, 31);
  color: rgb(255, 239, 208);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.clickable-item.active-state {
  background-color: rgb(72, 34, 31);
  color: rgb(255, 239, 208);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


/* buttons */
.nav-buttons-group {
  display: flex;
  margin: 0;
  padding-bottom: 2%;
  font-size: 1.3em;
  font-weight: bold;
}

.lesson-num-div {
  text-align: center;
  border: 3px solid rgba(72, 34, 31, 0.7);
  color: rgb(72, 34, 31);
  border-radius: 5px;
  width: max-content;
  padding: 0 2%;
  margin: 0 auto;
}

.navigation-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0 auto;
}

.custom-button {
  width: 40%;
}
