.quiz-results-container {
    margin: 1% auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

.asdf-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

.title-div {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: rgb(72, 34, 31);
    font-size: 2.5em;
}

.title-div h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(72, 34, 31);
}

/* image div */
.image-div {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 50%;
}

.center-image {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
}

/* score div */
.score-div {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: rgb(72, 34, 31);
}

.score-div p {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0 auto;
    padding: 0;
    color: rgb(72, 34, 31);
}

/* nav-buttons-group div */
.nav-buttons-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;

}

/* button */
.custom-button {
    background-color: rgb(72, 34, 31);
    color: white;
    padding: 1% 0;
    margin: 0;
    font-size: 1.7em;
    width: 30%;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
