
.quiz-div {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid gray;
    background-color: white;
}

/* answer choices */

.answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.answer-group {
    flex: 0 1 48%; /* Allows two groups per line */
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start; /* Aligns the content to the right */
}
.answer-img {
    width: 200px;
    height: 150px;
    display: block;
    margin: 5px auto; /* Centers the image and adds space above and below */
}

.answer-label {
    display: block;
    text-align: center; /* Centers the label text */
}


/* buttons */

.quiz-nav-buttons-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 1.3em;
    font-weight: bold;
}

.submit-button-div {
    justify-content: left;
    margin: 10px auto 0px auto;
}

.quiz-num-div {
    text-align: center;
    border: 3px solid rgba(72, 34, 31, 0.7);
    color: rgb(72, 34, 31);
    border-radius: 5px;
    width: fit-content;
    padding: 0px 5px;
    margin: 10px auto;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
}

.navigation-buttons button {
    flex-grow: 1;
}

.navigation-buttons button:first-child {
    margin: 10px;
}

.navigation-buttons button:last-child {
    margin: 10px;
}